
#wrapper {
    padding-left: 340px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 340px;
    width: 340px;
    height: 100%;
    margin: 0;
    margin-left: -340px;
    padding: 10px;
    overflow-y: auto;
    background-color: #f1f1f1;
}

#page-content-wrapper {
    width: 100%;
    position: relative;
    padding: 20px;
}

label {
    padding-right: 15px;
}

.btn-circle {
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 35px;
    margin-bottom: 5px;
}

