
#wrapper {
    padding-left: 340px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 340px;
    width: 340px;
    height: 100%;
    margin: 0;
    margin-left: -340px;
    padding: 10px;
    overflow-y: auto;
    background-color: #f1f1f1;
}

#page-content-wrapper {
    width: 100%;
    position: relative;
    padding: 20px;
}

label {
    padding-right: 15px;
}

.btn-circle {
    width: 65px;
    height: 65px;
    text-align: center;
    border-radius: 32.5px;
    margin-bottom: 5px;
}

.menu-color-select {
    stroke-opacity: 0;
}
.menu-color-select:hover {
    stroke-opacity: 1;
    stroke-width: 4px;
}
